# Security
SECRET_KEY=sua_chave_secreta_super_segura_aqui_gerada_aleatoriamente
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# Database
DATABASE_URL=postgresql://postgres:Ttrs7654@127.0.0.1:5432/smartinventory

# Backup configuration (leave blank to search in system PATH)
PG_DUMP_PATH=C:\Program Files\PostgreSQL\18\bin\pg_dump.exe
